* {
    margin: 0;
    padding: 0;
}
html, body, #root {
  height: 100%;
  margin: 0;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

header {
    border-radius: 5px 5px 60px 60px;
    box-shadow: -20px 50px;
    
}




#welcome {
    padding: 50px;

        h1 {
    font-size: 3rem;
    }

    .p1 {
    font-size: 2rem;
    }

    .p2 {
        
        font-size: 2rem;
    }

    #reviews {
        margin: 50px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
}



.container {
    padding: 50px;
    margin-bottom: 10%;
    h1 {
        margin-bottom: 20px;
    }
    #cardlist {
        margin: 50px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        
    }

    .rev {
        margin: 50px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        
    }

    #other_plans {
        margin: 50px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        
    }

}





