* {
    margin: 0;
    padding: 0;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
    border-radius: 5px 5px 60px 60px;
    box-shadow: -20px 50px;
    
}


#welcome {
    padding: 50px;

        h1 {
    font-size: 3rem;
    }

    .p1 {
    font-size: 2rem;
    }

    .p2 {
        
        font-size: 2rem;
    }

    #reviews {
        margin: 50px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
}




